@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    <h1 class="display-4">Hasta Takip</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Hasta Takip uygulamasına hoşgeldin @(User.Identity.Name).</p>
    }else{
        <p>Hasta Takip uygulamasına hoşgeldiniz.</p>
    }
    
    
</div>
