@{
    string baslik = "Gizlilik";
    ViewData["Title"] = baslik;
}

@* <h1>@ViewData["Title"]</h1> *@
<h1>@baslik</h1>

<p>Bu web uygulamasını kullanarak <b> gizlilik sözleşmesini </b> kabul etmiş bulunmaktasınız.</p>
