﻿
@model DoktorModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Yeni Doktor";
}

<h1>@ViewData["Title"]</h1>

<h4>Doktor</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create">
		@Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <label asp-for="Adi" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Adi" class="form-control" />
					<span asp-validation-for="Adi" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="Soyadi" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Soyadi" class="form-control" />
					<span asp-validation-for="Soyadi" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
				<label asp-for="UzmanMi" class="col-2 col-form-label"></label>
				<div class="col-5" style="padding-top: 7px;">
					<input class="form-check-input" asp-for="UzmanMi" />
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="KlinikId" class="col-2 col-form-label"></label>
				<div class="col-5">

					@* HTML Helper *@
					@* @Html.DropDownListFor(model => model.KlinikId, ViewBag.KlinikId as SelectList, "-- Seçiniz --", new { @class = "form-select" }) *@
					@* Tag Helper *@
					<select asp-for="KlinikId" class="form-select" asp-items="ViewBag.KlinikId">
						<option value="">-- Seçiniz --</option>
					</select>

					<span asp-validation-for="KlinikId" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="BransId" class="col-2 col-form-label"></label>
				<div class="col-5">
					<select asp-for="BransId" class="form-select" asp-items="ViewBag.BransId">
						<option value="">-- Seçiniz --</option>
					</select>
					<span asp-validation-for="BransId" class="text-danger"></span>
				</div>
            </div>

			<div class="row mb-3">
				<label asp-for="HastaIdleriInput" class="col-2 col-form-label"></label>
				<div class="col-5">
					<select multiple asp-for="HastaIdleriInput" class="form-select" asp-items="ViewBag.Hastalar">
					</select>
					<span asp-validation-for="HastaIdleriInput" class="text-danger"></span>
				</div>
			</div>

            <div class="row mb-3">
				<div class="offset-2 col-5">
					<input type="submit" value="Kaydet" class="btn btn-primary" />
					&nbsp;&nbsp;
                    <button type="reset" class="btn btn-outline-primary">Temizle</button>
					&nbsp;&nbsp;
					<a asp-action="Index">Listeye Dön</a>
				</div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
	@* Client-Side Validation: *@
	@* HTML Helper *@
	@* 1. yöntem: *@
	@* @Html.Partial("_ValidationScriptsPartial") *@
	@* 2. yöntem: *@
	@* @await Html.PartialAsync("_ValidationScriptsPartial") *@
	@* Tag Helper: *@
	<partial name="_ValidationScriptsPartial" />
}