﻿
@model DoktorModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Doktor Silme";
}

<h1>@ViewData["Title"]</h1>

<h3>Doktoru silmek istediğinize emin misiniz?</h3>
<div>
    <partial name="_Details" model="Model" />
    
    <form asp-action="Delete">
	@Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Evet" class="btn btn-danger" />&nbsp;&nbsp;
        <a asp-action="Index" class="btn btn-success">Hayır</a>
    </form>
</div>