@model DataAccess.Entities.Hasta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hasta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adi" class="control-label"></label>
                <input asp-for="Adi" class="form-control" />
                <span asp-validation-for="Adi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyadi" class="control-label"></label>
                <input asp-for="Soyadi" class="form-control" />
                <span asp-validation-for="Soyadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KimlikNo" class="control-label"></label>
                <input asp-for="KimlikNo" class="form-control" />
                <span asp-validation-for="KimlikNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DogumTarihi" class="control-label"></label>
                <input asp-for="DogumTarihi" class="form-control" />
                <span asp-validation-for="DogumTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cinsiyeti" class="control-label"></label>
                <select asp-for="Cinsiyeti" class="form-control"></select>
                <span asp-validation-for="Cinsiyeti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boyu" class="control-label"></label>
                <input asp-for="Boyu" class="form-control" />
                <span asp-validation-for="Boyu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kilosu" class="control-label"></label>
                <input asp-for="Kilosu" class="form-control" />
                <span asp-validation-for="Kilosu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guid" class="control-label"></label>
                <input asp-for="Guid" class="form-control" />
                <span asp-validation-for="Guid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

