@model DataAccess.Entities.Doktor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Doktor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adi" class="control-label"></label>
                <input asp-for="Adi" class="form-control" />
                <span asp-validation-for="Adi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyadi" class="control-label"></label>
                <input asp-for="Soyadi" class="form-control" />
                <span asp-validation-for="Soyadi" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UzmanMi" /> @Html.DisplayNameFor(model => model.UzmanMi)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="KlinikId" class="control-label"></label>
                <select asp-for="KlinikId" class="form-control" asp-items="ViewBag.KlinikId"></select>
                <span asp-validation-for="KlinikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BransId" class="control-label"></label>
                <select asp-for="BransId" class="form-control" asp-items="ViewBag.BransId"></select>
                <span asp-validation-for="BransId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Guid" class="control-label"></label>
                <input asp-for="Guid" class="form-control" />
                <span asp-validation-for="Guid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

